{% extends 'events/base.html' %}

{% block content %}
    <h1>Venue Detail</h1>
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">{{ venue }}</h5>
            <ul>
                <li>{{ venue.address }}</li>
                <li>{{ venue.zip_code }}</li>
                <li>{{ venue.phone }}</li>
                <li>{{ venue.email_address }}</li>
                <li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
            </ul>
            
            {% if venue.venue_image %}
                <div class="text-center">
                    <img src="{{ venue.venue_image.url }}" alt="" width=500>
                </div>
            {% endif %} 
        </div>
    </div>
{% endblock %}